

.modal-row {
    display: flex;
    justify-content: space-evenly;

}

.modal-row .ant-card {
    box-shadow: 0 0 9px 0px #b0afb021;
}

.modal-col {
    padding: 8px;
}
.right-container {
    flex: 1 1 200px;
}

.right-container {
    flex: 2 1 auto;
}
.ant-card-meta-description {
    font-weight: 600;
    color: white;
}

.status__1 .ant-card-body {
    background-color: #542788
}

.status__2 .ant-card-body {
    background-color: #998ec3
}

.status__3 .ant-card-body {
    background-color: #c8afdf
}

.status__4 .ant-card-body {
    background-color: #7a7688
}

.status__5 .ant-card-body {
    background-color: #e66101
}

.ant-modal-body {
    box-shadow: inset 0 0 1px 0px grey;
    background-color: #f3f2f5;
}


.quote {
    border-left: 2px solid purple;
    margin-left: 10px;
    padding-left: 10px;

}

.ant-card-actions>li>span a:not(.ant-btn),
.ant-card-actions>li>span>.anticon {
    color: #7f48f3;
    font-size: 24px;
}

.quote-year {
    font-weight: 600;
}

.quote-citation {
    text-align: right;
}

.ant-modal {
    max-width: 800px;
}

.ant-modal .ant-modal-body {
    padding: 12px 24px;

}

.ant-modal .ant-card {
    margin-bottom: 12px;
}

@media screen and (max-width: 576px) {
    .modal-col {
        flex: 1 1 100%;
    }
    .modal-row {
        flex-flow: row wrap;
    }
    .photo-card {
        margin: auto;
    }
    .ant-tag {
        white-space: initial!important;
    }
}