.ant-layout-header{
    min-height: 64px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.ant-layout-header h3 {


  color: white;
}
.App {
  text-align: center;
}

.ant-layout-header {
  background-color: #261b3b;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all-status-container {
  flex-flow: row nowrap;
  background: #f0f0f0;
}

.status-col {
  display: flex;
  border-left: 0.5px solid #d9d9d9;
  flex-flow: column;
  justify-content: space-between;
  padding: 8px;
}


.status__1.status-col h3{
  color: #5e3c99
}

.status__2.status-col h3{
  color: #b2abd2
}

.status__3.status-col h3{
  color: #7a7688
}

.status__4.status-col h3{
  color: #e66101
}

.status-container {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}

.image-container {
  width: 30px;
  cursor: pointer;
}

.image-container.republican {
  background-color: red;
}

.image-container.democratic {
  background-color: blue;
}

.image-container.independent {
  background-color: purple;
}
.image-container img {
  width: 100%;
  height: auto;
  filter: grayscale(1);
  opacity: .8;
}

.ant-progress-inner {
  justify-content: flex-end;
  display: flex;
  border-radius: 0;
}

.half-way {
  width: 50%;
  border-right: black 1px solid;
  height: 20px;
  position: relative;
  top: -21px;
}

@media screen and (max-width: 576px) {
  .status-container {
    display: none;
  }
  .ant-layout-header {
    justify-content: space-evenly;
  }
  .ant-layout-header .ant-btn {
    margin: 20px 0;
  }
}

