.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all-status-container {
  flex-flow: row nowrap;
}
.status-col {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.status-container {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}

.image-container {
  width: 24px;
}

.image-container.republican {
  background-color: red;
}

.image-container.democratic {
  background-color: blue;
}

.image-container.independent {
  background-color: purple;
}
.image-container img {
  width: 100%;
  height: auto;
  filter: grayscale(1);
  opacity: .8;
}
th.ant-table-cell,
th.ant-table-cell {
  padding: 8px!important;
}

