.progress-bar-container {
    position: relative;
}

.progress-bar {
    display: flex;

}

.overlay-marker {
    width: 2px;
    border-left: black 1px solid;
    height: 24px;
    position: relative;
}