.progress-bar-container {
    position: relative;
}

.progress-bar {
    display: flex;

}

.half-way {
    width: 66.67%;
    border-right: black 1px solid;
    height: 24px;
    position: relative;
    top: -22px;
}